body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181717;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#search {
  margin-left: 580px;
}

h2 {
  color: #e9e3e1;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 22px;
}

.nav {
  height: 60px;
  width: 100%;
  background-color: #000000;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  margin-left: 10px;
}

.icon {
  width: 160px;
  height: 60px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 40px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.664);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.tiger {
  height: 200px;
  margin: 1%;
  width: 100%;
}

.card {
  width: auto;
  height: auto;
}

.card {
  margin: 1%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: black;
  color: #fff;
  width: 22.25%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  float: left;
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.15, 1.15);
}

.card_img {
  width: 100%;
}

.card_info {
  text-align: center;
}

.card_button:hover {
  background: #0d0d0e;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 5px #e9e3e1, 0 0 25px #15db7f, 0 0 50px #1bd863,
    0 0 100px #0bec16;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}
